
<html>
<head>
    <title>Starbucks Reserved</title>

<script type="text/javascript">
    function selectedStore() {
        reg = document.getElementById("register").value
        switch(reg) {
          case "5012349":
            document.getElementById("stores").options[0].selected=true
            break;
          case "1287612":
            document.getElementById("stores").options[1].selected=true
            break;
          case "6498234":
            document.getElementById("stores").options[2].selected=true
            break;
          case "7812386":
            document.getElementById("stores").options[3].selected=true
            break;
          case "8723098":
            document.getElementById("stores").options[4].selected=true
            break;
          case "9621043":
            document.getElementById("stores").options[5].selected=true
            break;
          case "1393478":
            document.getElementById("stores").options[6].selected=true
            break;
          default:
            document.getElementById("stores").options[0].selected=true
        } 
    }
</script>

</head>

<body onload="selectedStore()">
<h1 align="center">Welcome to Starbucks Reserved</h1>

<!-- FORM SECTION -->
<center><a href="/logout">Logout</a></center>

<form name="form" th:object="${command}" method="post" th:action="@{/starbucks}">

  <input type="hidden" name="register" id="register" th:field="*{register}" />

    <p>
    <div align="center">
          <textarea readonly id="message" name="message" 
                    cols="50" rows="13" th:text="${message}"/>
    </div>
    </p>                 

    <br/>

     <div style="text-align: center">
      <div class="options">
          <label for="drink">Select Drink:</label>
            <select name="drink" id="drink">
              <option value="Caffe Latte">Caffe Latte</option>
              <option value="Caffe Mocha">Caffe Mocha</option>
              <option value="Caffe Americano">Caffe Americano</option>
              <option value="Cappuccino">Cappuccino</option>
              <option value="Hot Chocolate">Hot Chocolate</option>
            </select> 
          <label for="size">&nbsp;&nbsp;&nbsp;&nbsp;Select Size:</label>
              <select name="size" id="size">
                <option value="tall">Tall 12 fl oz</option>
                <option value="grande">Grande 16 fl oz</option>
                <option value="venti">Venti 20 fl oz</option>
            </select> 
          <label for="milk">&nbsp;&nbsp;&nbsp;&nbsp;Select Milk:</label>
            <select name="milk" id="milk">
              <option value="whole">Whole Milk</option>
              <option value="2%">2% Milk</option>
              <option value="oat">Oatmilk</option>
              <option value="almond">Almond</option>
              <option value="heavy">Heavy Cream</option>
              <option value="vanilla">Vanilla Sweet Cream</option>
              <option value="coconut">Coconut</option>
              <option value="soy">Soy</option>
              <option value="half">Breve</option>
              <option value="nonfat">Nonfat Milk</option>
            </select> 
            <br /> <br /> <br />
            <label for="stores">Select Store:</label>
              <select name="stores" id="stores">
                <option value="5012349">Dub-C</option>
                <option value="1287612">P-Town</option>
                <option value="6498234">The City</option>
                <option value="7812386">Eso</option>
                <option value="8723098">The Dro</option>
                <option value="9621043">Mateo</option>
                <option value="1393478">Deadwood</option>
              </select> 
          </div>
    </div> 

    <p align="center"><img src="/images/starbucks.jpg"></p>

    <br/>

    <p align="center">
        <input type="submit" name="action" id="btnGetOrder" value="Get Order">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="action" id="btnPlaceOrder" value="Place Order">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="action" id="btnClearOrder" value="Clear Order">
    </p>


<!-- END FORM SECTION -->


<!-- </body>
</html>


<html>
<head>
    <title>Starbucks Reserved</title>

<script type="text/javascript">
    function selectedStore() {
        reg = document.getElementById("register").value
        switch(reg) {
          case "5012349":
            document.getElementById("stores").options[0].selected=true
            break;
          case "1287612":
            document.getElementById("stores").options[1].selected=true
            break;
          case "6498234":
            document.getElementById("stores").options[2].selected=true
            break;
          case "7812386":
            document.getElementById("stores").options[3].selected=true
            break;
          case "8723098":
            document.getElementById("stores").options[4].selected=true
            break;
          case "9621043":
            document.getElementById("stores").options[5].selected=true
            break;
          case "1393478":
            document.getElementById("stores").options[6].selected=true
            break;
          default:
            document.getElementById("stores").options[0].selected=true
        } 
    }
</script>

</head>

<body onload="selectedStore()">
<h1 align="center">Welcome to Starbucks Reserved</h1>

<center><form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/></form></center>

<form name="form" th:object="${options}" method="post" action="">

    <input type="hidden" name="state" id="state" value="{{state}}" />
    <input type="hidden" name="ts" id="ts" value="{{ts}}" />
    <input type="hidden" name="hash" id="hash" value="{{hash}}" />
    <input type="hidden" name="register" id="register" value="{{register}}" />

    <p>
    <div align="center">
          <pre id="pre">
          <span th:text="${message}" />
          </pre>
    </div>
    </p>
    <div style="text-align: center">
      <div class="options">
          <label for="drink">Select Drink:</label>
            <select name="drink" id="drink">
              <option value="drink1">Drink1</option>
            </select> 
          <label for="size">&nbsp;&nbsp;&nbsp;&nbsp;Select Milk:</label>
              <select name="size" id="size">
                <option value="kids">Kids 8 fl oz</option>
                <option value="short">Short 8 fl oz</option>
                <option value="tall">Tall 12 fl oz</option>
                <option value="grande">Grande 16 fl oz</option>
                <option value="venti">Venti 20 fl oz</option>
            </select> 
          <label for="milk">&nbsp;&nbsp;&nbsp;&nbsp;Select Milk:</label>
            <select name="milk" id="milk">
              <option value="whole">Whole Milk</option>
              <option value="2%">2% Milk</option>
              <option value="oat">Oatmilk</option>
              <option value="almond">Almond</option>
              <option value="heavy">Heavy Cream</option>
              <option value="vanilla">Vanilla Sweet Cream</option>
              <option value="coconut">Coconut</option>
              <option value="soy">Soy</option>
              <option value="half">Breve</option>
              <option value="nonfat">Nonfat Milk</option>
            </select> 
            <br /> <br /> <br />
            <label for="stores">Select Store:</label>
              <select name="stores" id="stores">
                <option value="5012349">Dub-C</option>
                <option value="1287612">P-Town</option>
                <option value="6498234">The City</option>
                <option value="7812386">Eso</option>
                <option value="8723098">The Dro</option>
                <option value="9621043">Mateo</option>
                <option value="1393478">Deadwood</option>
              </select> 
          </div>
    </div> 

    <br /> <br />

    <div style="text-align: center">
        <label for="stores">Select Store:</label>
        <select name="stores" id="stores">
          <option value="5012349">Dub-C</option>
          <option value="1287612">P-Town</option>
          <option value="6498234">The City</option>
          <option value="7812386">Eso</option>
          <option value="8723098">The Dro</option>
          <option value="9621043">Mateo</option>
          <option value="1393478">Deadwood</option>
        </select> 
    </div>                        

    <br/>

    <p align="center"><img th:src="@{/images/starbucks.jpg}" /></p>

    <br/>

    <p align="center">
      <input type="submit" name="action" id="process-payment" value="Process Payment" class="btn">
        <input type="submit" name="event" id="btnGetOrder" value="Get Order">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="event" id="btnPlaceOrder" value="Place Order">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="event" id="btnClearOrder" value="Clear Order">
    </p>

</form>



</body>
</html>
 -->